*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}
.img{
    border: 2px;
    border-color: aqua;
}